{% extends "admin_header.html" %}


{% block main %}
    <title>Add questions</title>
  <body>
    <div class="" style="padding-left: 35px;">
    <h3>Add questions</h3>
      <div class="content">
            <form action="{% url 'saveQuestions' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <p>{{ msg }}</p>

                <input type="submit" value="SAVE" class="btn btn-primary">
                <a href="{%  url 'adminIndex'%}" class="btn btn-primary">Back</a>
            </form>
            
       </div>
      </div>
    </body>
</html>


{% endblock %}